p {
    font-family: Lato;
  }
  .red {
    background-color: red;
    height: 1000px;
  }
  
  .blue {
    background-color: blue;
    height: 500px;
  }
  
  .green {
    background-color: green;
    height: 500px;
  }